.main {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    /* background-color: aqua; */
    padding-top: 5px;
    z-index: 3;
}

.box {
    float: right;
    margin-right: 30px;
    width: 50px;
    height: 50px;
    background-color: #233D4D;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
}

.pop {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
    margin-left: 35px;
    text-align: center;
    color: #e5e5e5;
}

.icon {
    margin-top: -10px;
    color: #e5e5e5;
    font-size: 30px;
}

.icon_close {
    color: #e5e5e5;
    font-size: 30px;
    margin-bottom: -24px;
}