.main {
    width: 100%;
    background-color: #E5E5E5;
    position: absolute;
    background-color: #e5e5e5;
    background-image: url("/dimension.png");
    min-height: 100vh;
    max-height: 100vh;    
}
.test {
    float: left;
    clear: both;
    margin-top: 80px;
    width: 10px;
    height: 10px;
    background-color: black;
}
.display {
    overflow: scroll;
    overflow-x: hidden;
    height: 94vh;
}

.name {
    font-size: 12px;
    margin: 0;
    margin-left: 10px;
}

.msg_sent {
    float: right;
    clear: both;
    margin: 5px;
    min-width: 150px;
    max-width: 95%;
    background-color: rgba(97, 155, 138, 0.8);
    padding: 10px 10px 18px 20px;
    border-radius: 15px 15px 0 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 94% 90%, 0% 90%);
    border-top: 2px solid rgba(47, 99, 84 0.2);
    border-left: 2px solid rgba(47, 99, 84 0.2);
}

.msg_sent p {
    margin: 0;
    overflow-wrap: break-word;
}

.msg_received {
    float: left;
    clear: both;
    min-width: 150px;
    max-width: 95%;
    color: #E5E5E5;
    background-color: rgb(0, 0, 0, 0.6);
    padding: 10px 10px 5px 5px;
    border-radius: 0 0 15px 15px;
    margin: 5px;
    clip-path: polygon(0 0, 5% 6%, 100% 6%, 100% 100%, 0 100%);
    border-bottom: 2px solid rgba(0, 0%, 0%, 0.2);
    border-right: 2px solid hsl(0, 0%, 0%, 0.2);
}

.msg_received_p {
    margin: 10px 0 5px 10px;  
    overflow-wrap: break-word;  
}

.joined {
    
    float: center;
    clear: both;
    text-align: center;
}
.joined_box {
    margin: auto;
    max-width: 120px;
    height: 25px;
    border-radius: 5px;
    background-color: hsl(0, 0%, 0%, 0.2)
}

.joined_box_p {
    padding: 5px;
    font-size: 12px;
    margin: 4px 0 0 0;
    overflow-wrap: break-word;
}

.input {
    position: fixed;
    float: left;
    width: 100%;
    bottom: 0;
}

.input_box {
    padding-left: 30px;
    min-height: 40px;
    height: 6vh;
    width: 80%;
    color: #e5e5e5;
    background-color: rgb(35, 61, 77, 0.9);
    border: none;
    border-radius: 3vh 0 0 3vh;
}

.input_box::placeholder {
    color: #E5E5E5;
}

.input_box:focus {
    outline: none;
}

.input_btn {
    position: fixed;
    min-height: 40px;
    height: 6vh;
    width: 20%;
    background-color: rgb(35, 61, 77, 0.9);
    color: #E5E5E5;
    border: none;
    border-radius: 0 3vh 3vh 0;
    bottom: 0;
    cursor: pointer;
}


.icon_box {
    margin-top: 2px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(35, 61, 77, 0.3);
}
.icon {
    margin-top: 8px;
    color: #e5e5e5;
    font-size: 22px;
}

.gg_arrow_top_right {
    margin: auto;
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    transform: scale(var(--ggs,1));
    border-right: 2px solid
}
.gg_arrow_top_right::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 14px;
    height: 2px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 3px;
    right: -3px
}