.container {
    max-width: 1980px;
    background-color: #E5E5E5;
    justify-content: center;
    align-items: center;
}
/* Create Room */

.main {
    background-color: #E5E5E5;
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    margin-bottom: 10px;
}

.title {
    margin-top: -30px;
    margin-bottom: 40px;
}

.input {
    margin-bottom: 10px;
    background-color: #E5E5E5;
    border-radius: 15px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    border: 2px solid #262b29;
}

.btn_enter {
    background-color: #619B8A;
    color: #E5E5E5;
    border: none;
    border-radius: 15px;
    width: 200px;
    height: 40px;
    font-size: 18px;
    margin-top: 10px;
}

.btn_enter:hover {
    background-color: #FE7F2D;
    cursor: pointer;
}

/* Wait Room */

.main_wait {
    background-color: #FE7F2D;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex: 1;
    display: flex;
    
}

.title_wait {
    font-size: 3rem;
}

.room {
    font-size: 200px;
    margin-top: -30px;
    margin-bottom: 10px;
}

.div_grid_3 {
    padding: 0 2rem;
    width: 30%;
    max-width: 660px;
    min-height: 80vh;
    float: left;
}

.btn_start {
    background-color: #262b29;
    color: #E5E5E5;
    border: none;
    border-radius: 15px;
    width: 300px;
    height: 80px;
    font-size: 40px;
    margin-top: 10px;
}

.btn_start:hover {
    background-color: #E5E5E5;
    cursor: pointer;
    color: #262b29;
}

@media screen and (max-width: 900px) {
    .main_wait {
        min-height: 240vh;
        justify-content: none;
        align-items: none;
        flex: none;
        display: block;
        
    }
    .div_grid_3 {
        padding: 0 30px;
        width: 100%;
        display: inline-block;
        clear: both;
    }
}
  
/* Play Room */

.main_play {
    background-color: #619B8A;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex: 1;
    display: flex;
}

.div_grid_2 {
    padding: 0 2rem;
    width: 50%;
    max-width: 960px;
    min-height: 80vh;
    float: left;
}

@media screen and (max-width: 900px) {
    .main_play {
        min-height: 240vh;
        justify-content: none;
        align-items: none;
        flex: none;
        display: block;
        
    }
    .div_grid_2 {
        padding: 0 30px;
        width: 100%;
        display: inline-block;
        clear: both;
    }
}

/* BINGO */

.bingo {
    background-color: #FE7F2D;
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bingo_winner {
    font-size: 50px;
}