.main {
    background-color: #E5E5E5;
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    margin-bottom: 10px;
}

.input {
    margin-bottom: 10px;
    background-color: #E5E5E5;
    border-radius: 15px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    border: 2px solid #262b29;
}

.bgc_green {
    background-color: #619B8A;
}

.btn_enter {
    color: #E5E5E5;
    border: none;
    border-radius: 15px;
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-top: 10px;
}

.btn_enter:hover {
    background-color: #FE7F2D;
    cursor: pointer;
}


.qtd_balls_div {
    cursor: pointer;
    float: left;
    background-color: #E5E5E5;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 30px;
    border: #262b29 2px solid;
}

.qtd_balls_div_selected {
    background-color: #619B8A;
    color: #E5E5E5;
}

