.main {
    background-color: #E5E5E5;
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    margin-bottom: 10px;
}

.input {
    margin-bottom: 10px;
    background-color: #E5E5E5;
    border-radius: 15px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    border: 2px solid #262b29;
}

.bgc_green {
    background-color: #619B8A;
}

.bgc_dark_blue {
    background-color: rgb(35, 61, 77);
}

.btn_enter {
    color: #E5E5E5;
    border: none;
    border-radius: 15px;
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-top: 10px;
}

.btn_enter:hover {
    background-color: #FE7F2D;
    cursor: pointer;
}

.division {
    font-size: 40px;
    color: rgb(35, 61, 77, 0.3);
    margin-bottom: 14px;
}